<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Советник веб-мастера"
        android:supportsRtl="true"
        android:theme="@style/ThemeLight.HelperHTMLCSS"
        tools:targetApi="31">
        <activity
            android:name=".Tests.CSSTest3"
            android:exported="false" />
        <activity
            android:name=".Tests.CSSTest2"
            android:exported="false" />
        <activity
            android:name=".Tests.CSSTest1"
            android:exported="false" />
        <activity
            android:name=".Design.DRules"
            android:exported="false" />
        <activity
            android:name=".Design.DContent"
            android:exported="false" />
        <activity
            android:name=".Design.DColors"
            android:exported="false" />
        <activity
            android:name=".Design.DPrinciple"
            android:exported="false" />
        <activity
            android:name=".CSS.PracticalTask2"
            android:exported="false" />
        <activity
            android:name=".CSS.LinksCSS"
            android:exported="false" />
        <activity
            android:name=".CSS.TextCSS"
            android:exported="false" />
        <activity
            android:name=".Text"
            android:exported="false" />
        <activity
            android:name=".CSS.Color"
            android:exported="false" />
        <activity
            android:name=".CSS.Selectors"
            android:exported="false" />
        <activity
            android:name=".CSS.CSSBase"
            android:exported="false" />
        <activity
            android:name=".Tests.FormsTest"
            android:exported="false" />
        <activity
            android:name=".Tests.TableTest"
            android:exported="false" />
        <activity
            android:name=".Tests.ImageTest"
            android:exported="false" />
        <activity
            android:name=".Tests.LinksTest"
            android:exported="false" />
        <activity
            android:name=".Tests.ListsTest"
            android:exported="false" />
        <activity
            android:name=".Tests.TextTest"
            android:exported="false" />
        <activity
            android:name=".PracticalTask"
            android:exported="false" />
        <activity
            android:name=".Tests.HTMLBaseTest"
            android:exported="false" />
        <activity
            android:name=".Forms"
            android:exported="false" />
        <activity
            android:name=".Table"
            android:exported="false" />
        <activity
            android:name=".Image"
            android:exported="false" />
        <activity
            android:name=".Links"
            android:exported="false" />
        <activity
            android:name=".Spiski"
            android:exported="false" />
        <activity
            android:name=".Design.DesignCource"
            android:exported="false" />
        <activity
            android:name=".CSS.CSSCource"
            android:exported="false" />
        <activity
            android:name=".HTMLCource"
            android:exported="false" />
        <activity
            android:name=".BaseHTML"
            android:exported="false" />
        <activity
            android:name=".DirectoryCSS"
            android:exported="false" />
        <activity
            android:name=".ActivityDesign"
            android:exported="false" />
        <activity
            android:name=".ActivityCSS"
            android:exported="false" />
        <activity
            android:name=".ActivityHTML"
            android:exported="false" />
        <activity
            android:name=".Directory"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>